{% block content %}
  <div class="homepage-container">
    <h2 class="homepage-heading">Bienvenido a la Gestión de Bodegas</h2>
    <p class="homepage-subheading">¡Administra tus bodegas de manera fácil y eficiente!</p>
    <div class="button-container">
      <a href="{% url 'register' %}" class="register-button">Registrarse</a>
      <a href="{% url 'login' %}" class="login-button">Iniciar sesión</a>
    </div>
  </div>
  <style>
    body {
      background-image: url('https://w.wallhaven.cc/full/48/wallhaven-489q72.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    /* Estilos para homepage.html */
    .homepage-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px; /* Ajusta el ancho del contenedor según tus necesidades */
      flex-direction: column;
      background-color: #F3E7D0; /* Color de fondo rústico */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0 auto; /* Centra horizontalmente el contenedor */
      margin-top: 40vh; /* Ajusta el margen superior para centrar verticalmente */
    }

    .homepage-heading {
      color: #613D2C; /* Color de encabezado rústico */
      font-size: 24px;
      text-align: center; /* Centra el texto */
      margin-bottom: 20px;
    }

    .homepage-subheading {
      color: #785F48; /* Color del subencabezado */
      font-size: 16px;
      text-align: center; /* Centra el texto */
      margin-bottom: 30px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .register-button,
    .login-button {
      background-color: #8B5740; /* Color de fondo del botón rústico */
      color: #F3E7D0; /* Color del texto del botón */
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      margin: 10px;
    }

    .register-button:hover,
    .login-button:hover {
      background-color: #785F48; /* Color de fondo del botón al pasar el cursor */
    }

    .register-button:active,
    .login-button:active {
      background-color: #613D2C; /* Color de fondo del botón al hacer clic */
    }
  </style>
{% endblock %}
