{% block content %}
<div class="lista-productos-container">
  <h2 class="lista-productos-heading">Lista de Productos</h2>
  <ul>
    {% for producto in productos %}
      <li>
        {{ producto.nombre }} - {{ producto.descripcion }} - Bodegas: 
        {% for bodega in producto.bodegas.all %}
          {{ bodega.nombre }},
        {% endfor %}
        - Cantidad: {{ producto.cantidad_producto }}
      </li>
    {% endfor %}
  </ul>
</div>
  <style>
    /* Estilos para lista_productos.html */
  </style>
{% endblock %}
